.appWrapper {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 112px;
  gap: 24px;
  width: 1440px;
  height: 998px;
  background: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
  gap: 32px;
  width: 1216px;
  height: 774px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
  width: 1152px;
  height: 774px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .appWrapper {
    position: relative;
    max-width: 375px;
    max-height: 1088px;
    background: #ffffff;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    gap: 32px;
    max-width: 375px;
    max-height: 892px;
    background: #ffffff;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 343px;
    height: 700px;
  }
}
